/* Reset some basic styles */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    background-color: lightgray;
}

/* Login form styling */
#login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
    width: 300px;
}
#login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#login-form input, #login-form button {
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#login-form button {
    background-color: #3498db;
    color: white;
    cursor: pointer;
}

/* Error message */
#login-error {
    text-align: center;
    font-size: 14px;
}

/* Profile Section */
#profile {
    margin: 0 auto;
    background: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    max-width: 600px;
    position: relative;
}

/* Logout button styling */
#logout-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
    text-align: center;
    padding: 10px 20px;
    background-color: #e74c3c;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* Chart container */
#xp-chart svg {
    height: auto;
    overflow-x: none;
    overflow-y: none;
}
#skills-chart {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}